        <!-- profile view -->
        <!-- using user_profile.css -->
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1 style="text-align: center;font-size: 6rem; color: red;">
            Welcome  <% if (locals.user){ %>
                
                <!-- getting name on page -->
                    <%= user.name %>
                
                
                <% }%>
        </h1>

        


         
         
            
